.movie-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.movie-card img {
  transition: transform 0.3s ease;
}

.movie-card:hover img {
  transform: scale(1.05);
}